* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.nav {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1A237E;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures space between title and menu */
  position: relative; /* This allows the menu to be overlayed */
}

.nav-header {
  padding-left: 1rem;
}

.nav-title {
  font-size: 22px;
  color: #fff;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list > li {
  list-style-type: none;
}

.nav-list > li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* Mobile view */
@media (max-width: 480px) {
  .nav {
    padding: 1rem;
    position: relative; /* Ensure the nav is the containing block for the menu */
  }

  /* Hamburger icon (nav button) */
  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  .nav-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #eee;
    margin: 5px 0;
  }

  /* Mobile menu (nav-list) */
  .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #1A237E;
    height: 0;
    top: 60px; /* Adjust the space from the top */
    left: 0;
    overflow: hidden;
    padding: 0;
    z-index: 10; /* Ensures the menu overlays the content */
    transition: all 0.3s ease-in;
  }

  .nav-list-open {
    height: calc(100vh - 50px); /* Full screen height minus the navbar */
    padding: 10px;
  }

  .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
  }

  .nav-list a {
    padding: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  .nav-list a:hover {
    background-color: #365899;
  }

  /* Disable scrolling on body when menu is open */
  body {
    overflow: hidden; /* This will prevent content scrolling when the menu is open */
  }
  
  /* Allow scrolling again when menu is closed */
  .nav-list-open + * {
    pointer-events: none; /* Disable interactions with content below */
  }
}
